<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 4px;">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand" href="#">
      <img src="https://www.citypng.com/public/uploads/preview/-11600558714e3lynonybu.png" alt="" width="36" height="27" class="d-inline-block align-text-top">
      MySecondChat
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="{% url 'index' %}"><button class="btn btn-warning btn-outline-dark text-dark me-2 btn-lg" type="button">Home</button></a>
        </li>
        <li class="nav-item">
          <a href="#"><button class="btn btn-warning btn-outline-dark text-dark me-2 btn-lg" type="button">M-Sender</button></a>
        </li>
        <li class="nav-item">
          <a href="#"><button class="btn btn-outline-warning text-warning me-2 " type="button">Contacts</button></a>
        </li>
        <li class="nav-item">
          <a href="{% url 'room' 'General' %}"><button class="btn btn-outline-warning text-warning me-2 " type="button">General</button></a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'createroom' %}"><button class="btn btn-outline-warning text-warning me-2 " type="button">New Room</button></a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div id="auth" class="text-warning">
      {% if request.user.is_authenticated %}
        Welcome {{ user.username }} |&nbsp <a href="{% url 'logout' %}"><button class="btn btn-warning btn-outline-dark text-dark me-2 " type="button">Log out</button></a>
      {% else %}
          <a href="{% url 'registration' %}"><button class="btn btn-warning btn-outline-dark text-dark me-2 " type="button">Sign in</button></a> |&nbsp <a href="{% url 'login' %}"><button class="btn btn-warning btn-outline-dark text-dark me-2 " type="button">Log in</button></a>
      {% endif %}
    </div>
  </div>
</nav>